@import '_variables.scss';

.mainContainer {
    height: 100vh;
    width: 100vw;
    padding: 20vh 12% 0px;

    &__SVG {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 80vw;
        max-width: 300px;
        max-height: 300px;
        z-index: -1;
    }
}

.header {
    display: flex;
    height: 70vh;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
        font-size: 2.2em;
    }

    &__desc {
        font-size: 1em;
        margin-top: 30px;
    }

    &__button {
        margin-top: 15vh;
        font-size: 1.5em;
    }
}

@include breakpoint(phone_portrait) {
    .mainContainer {

        &__SVG {
            left: 70%;
        }
    }

    // .header {
    //     &__title {
    //         font-size: 2.7em;
    //     }

    //     &__desc {
    //         font-size: 1.3em;
    //     }

    //     &__button {
    //         font-size: 1.5em;
    //     }
    // }
}

@include breakpoint(small_tablet) {
    .mainContainer {

        padding-left: 8%;
        padding-right: 30%;

        &__SVG {
            max-width: 450px;
            max-height: 450px;
            left: 80%;
        }
    }

    .header {
        &__title {
            font-size: 3.7em;
        }

        &__desc {
            font-size: 2em;
        }

        &__button {
            font-size: 2em;
        }
    }
}