@import "variables.scss";

.offerPlaces {
    height: 200vh;
    width: 100vw;
    background-color: $mainBackgroundColor;
    position: relative;

    &__mapContainer {
        height: 90vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: $blueColor;
        align-items: center;
        justify-content: flex-start;

        &__title {
            font-size: 1.7em;
            margin-bottom: 50px;
            padding: 0 5vh;
            color: $brightFontColor;
        }

        &__svgContainer {
            width: 85%;
            height: fit-content;
            margin-top: 50px;
        }

    }

    &__photosContainer {
        background-color: $blueColor;
        text-align: center;

        &__textContent {
            padding: 0 5% 50px 5%;
            color: $brightFontColor;
        }

        &__photos {
            width: 100%;
            height: 80vh;
            background-color: $mainBackgroundColor;

            &__content {}
        }
    }

    &__opinionContainer {}
}