@import '_variables.scss';

.opinions {
    width: 100vw;
    padding: 120px 7%;
    background-color: $mainBackgroundColor;

    &__title {
        font-size: 3.7em;
        margin-bottom: 10px;
    }

    &__textContent {
        line-height: 25px;
        margin-bottom: 50px;
    }

    &__list {
        width: 100%;
        padding: 0 5%;
    }
}